---
name: CI

"on":
  pull_request:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read
  # For Github OIDC integration tests:
  id-token: write

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - run: rustup --version
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - run: rustup --version
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Check for common mistakes with Clippy
        run: cargo clippy --all-targets --all-features -- -Dclippy::all

  typos:
    runs-on: ubuntu-latest
    steps:
      - run: rustup --version
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Check source for typos and spelling issues
        uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06  # v1.40.0

  cargo_audit:
    runs-on: ubuntu-latest
    steps:
      - run: rustup --version
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Install cargo-audit
        run: cargo install cargo-audit
      - name: Check for security advisories
        run: cargo audit

  test:
    runs-on: ubuntu-latest
    steps:
      - run: rustup --version
      - name: Cache Cargo registry and dependencies
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile
      - name: cargo test --locked
        run: cargo test --locked --all-features

  amplify-integration-test:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    env:
      TEST_TAG: "amplifysecurity/runner:test-${{ github.sha }}"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
        with:
          context: .
          load: true
          tags: ${{ env.TEST_TAG }}
          network: host
      - name: Run Amplify Security Scan (Lab)
        run: |
          docker run --rm \
          -v $GITHUB_WORKSPACE:$GITHUB_WORKSPACE -w $GITHUB_WORKSPACE \
          -v $GITHUB_EVENT_PATH:$GITHUB_EVENT_PATH \
          -e AMPLIFY_ENDPOINT=https://api.lab.amplify.security \
          -e RUST_BACKTRACE=full \
          --env-file <(env | grep -P 'ACTIONS|GITHUB') \
          ${{ env.TEST_TAG }}
