---
name: Update Docker Hub description

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Convert README.adoc to README.md
        run: |
          sudo apt install -y pandoc asciidoctor
          asciidoctor -b docbook -o - README.adoc | pandoc --wrap=preserve -t gfm -f docbook - > README.md
      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa  # v5.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
          repository: amplifysecurity/runner
